<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/scripts/vendor/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
   	{{{body}}}
  </body>
</html>
