<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>Name: {{name}}</li>
            <li>Email: {{id}}</li>
            <li>Created: {{dateFormat created format="DD-MMM-YYYY"}}</li>
        </ul>
    </div>
</div>
